/*
Code refrence:
Title: Complete user registration system using PHP and MySQL database
Author: Awa Melvine
Date: 13/04/18
Code version: 1.0
Availability: http://codewithawa.com/posts/complete-user-registration-system-using-php-and-mysql-database
*/
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #e02f2f;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #ef6e6b; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #050505; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}